<div class="container pt-4">
<div class="row">
<div class="offset-md-4 col-md-4 offset-md-4">

<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign in</strong>
  </h5>

  
  <div class="card-body px-lg-5 pt-0">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "text-center", style:"color: #2bbbad;") do |f| %>


      
      <div class="md-form">
        <label for="materialLoginFormEmail">E-mail</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "materialLoginFormEmail"%>
      </div>
    
      
      <div class="md-form">
        <label for="materialLoginFormPassword">Password</label>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "materialLoginFormPassword" %>
      </div>
  
      <div class="d-flex justify-content-around">
        <div>
        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input", id: "materialLoginFormRemember"%>
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
          <% end %>
        </div>
        <div>
      

        </div>
      </div>
      <br>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

    
      

  <%end%>

 
</div>
</div>
</div>