

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Detail</th>

      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_date.strftime("%m/%d/%Y") %></td>
        <td><%= order.amount %></td>
        <td><%= link_to 'Order Detail', order %></td>
        <td><%= link_to 'Order Cancle', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      
    </tbody>
  </table>
</div>


<style> 
        .ml-lefts{
          margin-left: 75%;
        }
</style>
